@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE & Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
